*.log
*.pem

prod/certbot/conf/*
prod/certbot/log/*
prod/certbot/www/*
prod/certbot/log/*
prod/certbot/log/*
prod/database/*
!prod/database/empty.txt
prod/redis/*
!prod/redis/empty.txt

dev/database/*
!dev/database/empty.txt
dev/redis/*
!dev/redis/empty.txt